.error404 {
    min-height: 34em;
    background-color: #111A43;
}

.error404 img {
    max-width: 50%;
    margin: 0 auto;
}

.error404 a {
    width: 11em;
    margin: 0 auto;
    font-weight: bold;
    padding: 0.8em 2.5em;
    color: white;
    background-color: #5F9FD7;
    border-radius: 0.5em;
    border: 0.1em solid #5F9FD7;
}

.error404 a:hover {
    background: transparent;
    color: #5F9FD7;
}