.site-footer {
    margin-top: auto;
}

.footer-initial-info {
    background-color: #04233B;
}

    .footer-initial-info .wrapper {
        padding: 2em 4em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-initial-info h2 {
        margin: 0 0 0.5em 0;
    }

    .footer-initial-info h2, a, p {
        color: #ffffff;
    }

    .footer-initial-info li {
        transition: 0.4s;
    }

        .footer-initial-info li:hover {
            transform: scale(1.10);
        }

    .footer-initial-info .address li {
        margin: 1em 0;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

        .footer-initial-info .address li i {
            color: #ffffff;
        }

    .footer-initial-info .address .address-icons:hover > * {
        color: #0298B2;
    }

    .footer-initial-info .info {
        max-width: 20em;
    }

    .footer-initial-info .nav li {
        margin: 0 0 1em 0;
    }

        .footer-initial-info .nav li:hover a {
            color: #0298B2;
        }

    .footer-initial-info .subscribe form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .footer-initial-info .social-icons i {
        padding-top: 1em;
        font-size: 1.5em;
        transition: 0.4s;
    }

        .footer-initial-info .social-icons i:hover {
            color: #0298B2;
            transform: scale(1.10);
        }

    .footer-initial-info .subscribe input {
        padding: 1em 0;
        background: transparent;
        border-color: transparent;
        border-bottom: 0.1em solid #ffffff;
        color: #ffffff;
    }

        .footer-initial-info .subscribe input:focus {
            outline: none;
        }

        .footer-initial-info .subscribe input::-webkit-input-placeholder {
            padding-left: 0.5em;
            color: #ffffff;
        }

    .footer-initial-info .subscribe a {
        padding: 0.7em 1em;
        background-color: #0298B2;
        color: #ffffff;
        text-align: center;
        transition: 0.4s;
    }

        .footer-initial-info .subscribe a:hover {
            background-color: #065968;
            transform: scale(1.10);
        }

.site-footer .footer-all-rights-reserved {
    padding: 0.8em 1em;
}

    .site-footer .footer-all-rights-reserved p {
        color: #000;
        text-align: center;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }
