:root {
    --footer-bg-color: #fff;
    --footer-font-color: #1d1d1d;
}

.dark-mode {
    --footer-bg-color: #27292d;
    --footer-font-color: #fff;
}

.site-footer {
    margin-top: auto;
    background-color: var(--footer-bg-color);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

.site-footer .footer-all-rights-reserved {
    padding: 0.8em 1em;
}

.site-footer .footer-all-rights-reserved p {
    color: var(--footer-font-color);
    text-align: center;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
