:root {
    --header-bg-color: #fff;
    --header-font-color: #1d1d1d;
}

.dark-mode {
    --header-bg-color: #27292d;
    --header-font-color: #fff;
}

.site-header {
    background-color: var(--header-bg-color);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 999;
}

    .site-header .icon-wrapper {
        background-color: var(--header-bg-color);
        border-radius: 50%;
        padding: 1em;
        position: relative;
    }

.site-header .main {
    padding: 1em;
}

    .site-header .main .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    .site-header .main .site-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5em;
    }

        .site-header .main .site-title h1 {
            margin: 0;
            color: var(--header-font-color);
        }

    .site-header .main .site-nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        margin: 0;
    }

    .site-header .main .login {
        display: flex;
        align-items: center;
        gap: 0.2em;
    }

    .site-header .main a {
        color: var(--header-font-color);
        text-transform: uppercase;
        font-size: 1.2em;
    }

    .site-header .main ul li {
        transition: 0.4s;
    }

        .site-header .main ul li:hover {
            transform: scale(1.10);
        }

            .site-header .main ul li:hover > * {
                color: #1360C4;
            }