.profile-settings-container .container {
    padding: 0;
}

h2 {
    display: none;
}

.user-notifications {
    font-size: 1.2em;
}

    .user-notifications h2 {
        display: block
    }

    .user-notifications .notification-card {
        max-width: 400px;
        min-width: 245px;
        margin: 0 0 1em 0;
        padding: 1em;
        border-left: 3px solid #1360C4;
        border-radius: 0.5em;
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5em;
    }

        .user-notifications .notification-card .notification-type {
            color: #1360C4;
            font-size: 2em;
        }

        .user-notifications .notification-card .notification-content p {
            margin: 0;
        }

            .user-notifications .notification-card .notification-content p:first-of-type {
                font-size: 0.8em;
            }

        .user-notifications .notification-card .remove-notification-btn {
            margin: 0 0 0 auto;
            font-size: 0.9em;
            cursor: pointer;
        }

            .user-notifications .notification-card .remove-notification-btn .btn-delete {
                border: none;
                background: none;
            }

.no-notifications-p {
    font-size: 1.2em;
}

@media screen and (max-width: 900px) {
    .user-notifications {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .user-notifications {
        font-size: 0.9em;
    }

    .no-notifications-p {
        text-align: center;
    }
}

@media screen and (max-width: 530px) {
    .user-notifications {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 390px) {
    .user-notifications {
        font-size: 0.7em;
    }
}

.pagination-wrapper {
    text-align: center;
    margin: 40px 0;
    max-width: 400px;
}

.pagination {
    display: inline-block;
    height: 70px;
    padding: 0 25px;
    border-radius: 35px;
    background-color: #eee;
}

@media only screen and (max-width: 1199px) {
    .pagination {
        height: 50px;
        margin-top: 50px;
        padding: 0 10px;
        border-radius: 25px;
    }
}

.page-numbers {
    display: block;
    padding: 0 25px;
    float: left;
    transition: 400ms ease;
    color: #595959;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 70px;
}

    .page-numbers:hover, .page-numbers.current {
        background-color: #315087;
        color: #fff;
    }

    .page-numbers.prev:hover, .page-numbers.next:hover {
        background-color: transparent;
        color: #315087;
    }

@media only screen and (max-width: 1199px) {
    .page-numbers {
        padding: 0 15px;
        font-size: 16px;
        line-height: 50px;
    }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
    .page-numbers {
        padding: 0 14px;
        display: none;
    }

        .page-numbers:nth-of-type(2) {
            position: relative;
            padding-right: 50px;
        }

            .page-numbers:nth-of-type(2)::after {
                content: "...";
                position: absolute;
                font-size: 25px;
                top: 0;
                left: 45px;
            }

        .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
            display: block;
        }

        .page-numbers:nth-last-child(-n+4) {
            padding-right: 14px;
        }

            .page-numbers:nth-last-child(-n+4)::after {
                content: none;
            }
}
