html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html {
    font: 16px/1.5 'Roboto' !important, Helvetica, sans-serif;
}

*, *::before, *::after {
    font: inherit
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

li {
    list-style-type: none;
}

a, input, img, i {
    display: block;
}

a {
    text-decoration: none;
}

    a.disabled {
        pointer-events: none;
        cursor: default;
    }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }

.notification-modal {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #315087;
    color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 1em;
    animation: fadeInOut 5s ease-in-out;
}

    .notification-modal .fa-circle-info {
        font-size: 1.5em;
    }

    .notification-modal .fa-times {
        cursor: pointer;
    }

.notification-modal p {
    font-weight: bold;
    margin: 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 400px)
{
    .notification-modal .fa-circle-info {
        font-size: 1.2em;
    }

    .notification-modal p {
        font-size: 0.9em;
    }
}