<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatAppClone</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatAppClone.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="site-header">
        <section class="main">
            <div class="wrapper">
                <section class="site-title">
                    <img src="~/assets/logo.png" alt="">
                    <h1>ChatAppClone</h1>
                </section>
                <nav class="site-nav">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./contact.html">Chat</a></li>
                        <li class="login"><i class="fa-solid fa-user"></i><a href="./login.html">Sign in</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    @RenderBody()

    <footer class="site-footer">
        <section class="footer-all-rights-reserved">
            <div class="wrapper">
                <p>&copy; 2024 ChatAppClone. All Rights Reserved. </p>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
