@using ChatAppClone.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    
}

@if (!SignInManager.IsSignedIn(User))
{
    <li class="login">
        <i class="fa-solid fa-user"></i><a asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <img class="user-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png" alt="profile">
        </a>
    </li>
    <li>
        <form id="logoutForm" class="form-inline d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        </form>

        <a title="Logout" href="#" onclick="document.getElementById('logoutForm').submit();">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </li>
}
