@{
    TempData["Title"] = "Bad Request";
}

<link rel="stylesheet" href="~/css/error400.css" asp-append-version="true" />

<section class="error400">
    <div class="wrapper">
        <img src="~/assets/400.jpg" alt="400" />
        <a asp-controller="Home" asp-action="Index">Go to Home</a>
    </div>
</section>