@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container-fluid main" style="padding:0px;">

    <partial name="_ManageNavMobile" />

    <div class="row align-items-center" style="height:100%; width: 100%;">
        <partial name="_ManageNav" />

        <div class="col-md-9">

            <div class="container content clear-fix profile-settings-container">

                <h2 class="mt-5 mb-5">Profile Settings</h2>

                <div class="row" style="height:100%">

                    @if (ViewContext!.ActionDescriptor!.DisplayName!.Contains("Index"))
                    {
                        <partial name="Picture" />
                    }

                    <div class="col-md-9">
                        <div class="container">
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/js/profile.js"></script>

    <script>
        $(document).ready(function () {
            $('#upload-button').on('click', function (e) {
                e.preventDefault();

                var fileInput = $('#imageUpload')[0];
                var file = fileInput.files[0];

                var formData = new FormData();
                formData.append('file', file);

                console.log(file);

                $('#loading-overlay').show();

                $.ajax({
                    url: '@Url.Action("UploadProfilePicture", "UserApi")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            $('#validation-message').text(response.error);
                        }
                    },
                    error: function (xhr) {
                        let message = 'An error occurred while uploading the picture.';
                        console.log(xhr);
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            message = xhr.responseJSON.error;
                        } else if (xhr.responseText) {
                            try {
                                const parsed = JSON.parse(xhr.responseText);
                                if (parsed.error) message = parsed.error;
                            } catch { }
                        }

                        console.log(message);

                        $('#validation-message').text(message);
                    },
                    complete: function () {
                        $('#loading-overlay').hide();
                    }
                });
            });

            $('#remove-profile-picture-btn').on('click', function (e) {
                e.preventDefault();

                $('#removePictureModal').modal('hide');

                $('#loading-overlay').show();

                $.ajax({
                    url: '@Url.Action("DeleteProfilePicture", "UserApi")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        location.reload();
                    },
                    error: function (xhr) {
                        let message = 'An error occurred while uploading the picture.';
                        console.log(xhr);
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            message = xhr.responseJSON.error;
                        } else if (xhr.responseText) {
                            try {
                                const parsed = JSON.parse(xhr.responseText);
                                if (parsed.error) message = parsed.error;
                            } catch { }
                        }

                        console.log(message);

                        $('#validation-message').text(message);
                    },
                    complete: function () {
                        $('#loading-overlay').hide();
                    }
                });
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
}
