@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container-fluid main" style="padding-left:0px;">

    <div class="d-block d-md-none menu">

        <div class="bar"></div>

    </div>

    <div class="expand-menu nav flex-column">

        <a href="#" class="nav-link active mt-auto"><i class="far fa-user-circle"></i> Profile</a>
        <a href="#" class="nav-link"><i class="far fa-bell"></i> Notifications</a>
        <a href="#" class="nav-link"><i class="far fa-file-alt"></i> Billing Info</a>
        <a href="#" class="nav-link mb-auto"><i class="fas fa-cogs"></i> General</a>

    </div>

    <div class="row align-items-center" style="height:100%">
        <partial name="_ManageNav"/>

        <div class="col-md-9">

            <div class="container content clear-fix">

                <h2 class="mt-5 mb-5">Profile Settings</h2>

                <div class="row" style="height:100%">

                    @if (ViewContext!.ActionDescriptor!.DisplayName!.Contains("Index"))
                    {
                        <partial name="Picture"/>
                    }

                    <div class="col-md-9">
                        <div class="container">
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script src="~/js/profile.js"></script>

    <script>
        $(document).ready(function () {
            $('#upload-button').on('click', function (e) {
                e.preventDefault();

                var fileInput = $('#imageUpload')[0];
                var file = fileInput.files[0];

                var formData = new FormData();
                formData.append('file', file);

                $('#loading-overlay').show();

                $.ajax({
                    url: '@Url.Action("UploadProfilePicture", "User")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            $('#validation-message').text(response.error);
                        }
                    },
                    error: function () {
                        $('#validation-message').text('An error occurred while uploading the picture.');
                    },
                    complete: function () {
                        $('#loading-overlay').hide();
                    }
                });
            });

            $('#remove-profile-picture-btn').on('click', function (e) {
                e.preventDefault();

                $('#removePictureModal').modal('hide');

                $('#loading-overlay').show();

                $.ajax({
                    url: '@Url.Action("DeleteProfilePicture", "User")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            $('#validation-message').text(response.error);
                        }
                    },
                    error: function () {
                        $('#validation-message').text('An error occurred while deleting the picture.');
                    },
                    complete: function () {
                        $('#loading-overlay').hide();
                    }
                });
            });

            $('#remove-button').on('click', function (e) {
                e.preventDefault();

                $('#removePictureModal').modal('show');
            });

            $('#removePictureModal .close').on('click', function () {
                $('#removePictureModal').modal('hide');
            });

            document.getElementById('removePictureModal').addEventListener('show.bs.modal', function () {
                document.body.classList.add('modal-open');
            });

            document.getElementById('removePictureModal').addEventListener('hidden.bs.modal', function () {
                document.body.classList.remove('modal-open');
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });
    </script>

    @RenderSection("Scripts", required: false)
}
