@inject SignInManager<ApplicationUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="col-md-3 d-none d-md-block" style="height:100%">
    <div class="container-fluid nav sidebar flex-column">
        <a asp-area="Identity" asp-page="./Index" class="nav-link active mt-auto"><i class="far fa-user-circle"></i> Profile</a>
        <a asp-area="Identity" asp-page="./Email" class="nav-link"><i class="far fa-bell"></i> Email</a>
        <a asp-area="Identity" asp-page="./ChangePassword" class="nav-link"><i class="far fa-file-alt"></i> Password</a>
        <a asp-area="Identity" asp-page="./TwoFactorAuthentication" class="nav-link mb-auto"><i class="fas fa-cogs"></i> Two-factor authentication</a>
        <a asp-area="Identity" asp-page="./PersonalData" class="nav-link mb-auto"><i class="fas fa-cogs"></i> Personal data</a>
    </div>
</div>
