@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var profile = user?.ProfilePictureUrl ?? "https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg";
}

<div id="loading-overlay" style="display: none;">
    <div class="spinner"></div>
    <p>Please wait...</p>
</div>

<div class="col-md-3" style="display: flex; margin-bottom: 3em;">
    <div class="d-inline profile-picture-container">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(@profile);">
                </div>
            </div>
            <span class="text-danger profile-picture-error-span" id="validation-message"></span>
        </div>

        <div class="profile-picture-action-section">
             <button id="upload-button" class="btn upload-picture-btn" type="button">Upload</button>
             <button id="remove-button" class="btn delete-picture-btn" type="button">Remove</button>
        </div>
    </div>
</div>

<div id="removePictureModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove Profile Picture</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your picture?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <p>Click outside the modal to close it.</p>
                <input type="submit" id="remove-profile-picture-btn" class="btn btn-danger" value="Remove">
            </div>
        </div>
    </div>
</div>
