@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<link rel="stylesheet" href="~/css/registerConfirmation.css" asp-append-version="true" />

<div class="register-confirmation-container">
    <img src="https://img.icons8.com/?size=100&id=dl83t240PVMH&format=png&color=000000" alt="open email" />
    <h1>@ViewData["Title"]</h1>
    <p>You successfully changed your email address. Please visit your profile.</p>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
</div>
