@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<section class="about-intro">
    <div class="wrapper">
        <h2>About ChatAppClone</h2>
        <section>
            <img src="~/assets/about-intro.png" alt="intro">
            <article>
                <h3>Welcome! Let's chat</h3>
                <p>
                    Welcome to ChatAppClone! This platform is designed to offer a seamless and intuitive messaging experience, 
                    allowing you to stay connected with friends, family, and colleagues, no matter where you are.
                </p>
                <h3>What to look for</h3>
                <p>
                    The app is built with simplicity and ease of use in mind. 
                    Whether you're sharing a quick message, sending images, or organizing group chats, 
                    our app ensures that your conversations are fast, secure, and reliable.
                </p>
            </article>
        </section>
    </div>
</section>

<section class="services-tech-stack">
    <div class="wrapper">
        <section class="top">
            <h2>Tech Stack</h2>
            <p>Proven technologies with secure support from Microsoft and Meta</p>
        </section>

        <section class="tech-stack-info">
            <section class="tech-stack-content">
                <ul>
                    <li>
                        <h3>
                            <i class="fa-solid fa-play"></i>
                            C#
                        </h3>
                        <p>
                            A general-purpose, high-level programming language supporting multiple paradigms.
                        </p>
                    </li>
                    <li>
                        <h3>
                            <i class="fa-solid fa-play"></i>
                            ASP.NET Core
                        </h3>
                        <p>
                            Cross-platform, high-performance, open-source framework for developing modern, cloud-enabled and Internet-connected applications.
                        </p>
                    </li>
                    <li>
                        <h3>
                            <i class="fa-solid fa-play"></i>
                            Azure
                        </h3>
                        <p>
                            The only consistent hybrid cloud that delivers unparalleled developer productivity.
                        </p>
                    </li>
                    <li>
                        <h3>
                            <i class="fa-solid fa-play"></i>
                            SignalR
                        </h3>
                        <p>
                            ASP.NET SignalR is a library for ASP.NET developers that simplifies the process of adding real-time web functionality to applications.
                        </p>
                    </li>
                </ul>
                <a href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-8.0">Learn more</a>
            </section>

            <section class="tech-stack-tools">
                <article>
                    <i class="fa-solid fa-code"></i>
                    <h3>C#</h3>
                </article>
                <article>
                    <i class="fa-solid fa-gear"></i>
                    <h3>ASP.NET Core</h3>
                </article>
                <article>
                    <i class="fa-solid fa-database"></i>
                    <h3>SQL Server</h3>
                </article>
                <article>
                    <i class="fa-solid fa-code-branch"></i>
                    <h3>EF Core</h3>
                </article>
                <article>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <h3>Azure</h3>
                </article>
                <article>
                    <i class="fa-regular fa-registered"></i>
                    <h3>SignalR</h3>
                </article>
            </section>
        </section>
    </div>
</section>

<section class="about-intro">
    <div class="wrapper">
        <h2>General Purpose</h2>
        <section>
            <article>
                <h3>Why I built this app?</h3>
                <p>
                    In a world where communication is key, we wanted to create a chat application that is not only functional but also enjoyable to use.
                    My goal was to build a tool that feels natural and easy to navigate, while also being robust enough to handle all your messaging needs.
                </p>
                <h3>My vision and ideas</h3>
                <p>
                    I believe that communication should be simple, efficient, and enjoyable. 
                    The app is designed to reflect these principles, offering a clean, user-friendly interface and powerful features that enhance your messaging experience.
                </p>
                <p>
                    Thank you for choosing my chat app as your go-to communication tool. 
                    I am excited to continue improving and adding new features to make your conversations even better!
                </p>
            </article> 
            <img src="~/assets/services.jpg" alt="services">
        </section>
    </div>
</section>