@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<section class="hero">
    <div class="wrapper">
        <section class="content">
            <h2>ChatAppClone</h2>
            <p style="color: white">A simple online chat platform built with .NET Core and SignalR</p>
            <section class="hero-buttons">
                <a asp-controller="Home" asp-action="About" class="about-btn">About</a>
                <a asp-controller="Chat" asp-action="Chat" class="contact-btn">Chat</a>
            </section>
        </section>
        <img src="~/assets/hero.png" alt="home">
    </div>
</section>
